<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application >

    <receiver
            android:name="com.google.android.play.core.assetpacks.AssetLocation"
            android:exported="true" />

    <receiver
        android:name="com.google.android.play.core.assetpacks.AssetPackLocation"
        android:exported="true" />

    <receiver
        android:name="com.google.android.play.core.assetpacks.AssetPackManagerFactory"
        android:exported="true" />

    <receiver
        android:name="com.google.android.play.core.assetpacks.AssetPackState"
        android:exported="true" />

    <receiver
        android:name="com.google.android.play.core.assetpacks.AssetPackStates"
        android:exported="true" />

    <receiver
        android:name="com.google.android.play.core.assetpacks.AssetPackManager"
        android:exported="true" />

    <receiver
        android:name="com.google.android.play.core.assetpacks.AssetPackStateUpdateListener"
        android:exported="true" />

    <receiver
        android:name="com.google.android.play.core.assetpacks.NativeAssetPackStateUpdateListener"
        android:exported="true" />


        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
  </queries>
</manifest>
